.tag {
  margin: 4px 8px 4px 0;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  box-shadow: none;
}

.tag_count {
  position: relative;
  right: -8px;
  top: 0;
  display: inline-block;
  border: 1px solid #e6e6e6;
  background: #e6e6e6;
  min-width: 2em; // 二桁対応
  padding: 0.1em;
  border-radius: 2px;
  text-align: center;
}
