@import '../css/base';

.search_result {
  @include max-content-width();
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  padding: 1em;
  font-size: 1.5rem;
}

.icon {
  margin-right: 0.5em;
}

.search_count {
  margin-left: 0.5em;
  font-size: 1.3em;
}

.no_post {
  @include max-content-width();
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1.1em;
}
