.content {
  font-size: 14px;

  ul {
    list-style: none;
    margin-top: 0;

    li {
      margin-bottom: 1px;
      margin-left: 12px;

      a {
        display: block;
        padding-left: 2px;
        box-shadow: none;
        color: #888;
        border-radius: 4px;
        // background-color: white;
        letter-spacing: 0; // 幅が狭いので詰め詰めにする

        &:hover {
          // background: #eee;
          color: #333;
          text-decoration: underline #333;
          transition: background-color 0.2s ease-out;
        }

        &.active {
          background-color: #ddd;
          color: #333;
          transition: background-color 0.2s ease-out;
        }
      }
    }
  }
}
