.content {
  display: flex;
  justify-content: flex-end;
  height: 42px;
  position: absolute;
  bottom: 0;
  right: 24px;

  .button {
    text-align: center;
    display: block;
    box-shadow: none;
    margin-left: 12px;

    svg {
      width: 28px;
      height: 28px;
      vertical-align: middle;
    }
  }

  .blog_map_link {
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    // background-position: center;
    background-image: url(../../images/icon/synapse.svg);
    box-shadow: none;
  }

  .feedly_link {
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../images/icon/feedly.svg);
    box-shadow: none;
  }
}

@media screen and (max-width: 580px) {
  .content {
    z-index: 2;
    right: 12px;

    .button {
      height: 36px;
      svg {
        width: 24px;
        height: 24px;
      }
      img {
        width: 36px;
        height: 36px;
      }
    }

    .blog_map_link {
      height: 28px;
      width: 28px;
    }

    .feedly_link {
      height: 28px;
      width: 28px;
    }
  }
}
