.content {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin: 0 auto;
  padding: 0.75rem 1.75rem;
  background: white;
  max-width: 720px;
  box-sizing: border-box;
}

.content_thumbnail {
  margin-bottom: 0.75rem;
  margin-left: -1.75rem;
  margin-right: -1.75rem;
  margin-top: -0.75rem;

  .content_thumbnail_image {
    object-fit: contain;
    width: 100%;
    max-height: 230px;
    height: 100%;
    margin: 0;
  }
}

.content_post_info {
  display: table-cell;
  vertical-align: middle;
  height: 5rem;
  padding: 0 0.5rem;

  .title {
    margin-top: 0;
    margin-bottom: 0.3em;
    font-size: 1.15rem;
    line-height: 1.5;
    font-weight: bold;
    word-break: break-all;

    &_link {
      box-shadow: none;
      color: #4a4a4a;
      font-size: 1.2em;
      line-height: 1em;
    }
  }

  .content_text {
    color: #414141;
    font-size: 0.85rem;
    word-break: break-all;
  }

  .meta_info {
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -0.5em 0 2em;

    &__date {
      margin-right: 2em;
      font-size: 1.1em;

      & > svg {
        margin-right: 0.5em;
      }
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      & > svg {
        margin-right: 0.5em;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .content {
    padding: 0.75rem 0.75rem;

    .content_thumbnail {
      margin-bottom: 0.75rem;
      margin-left: -0.75rem;
      margin-right: -0.75rem;
      margin-top: -0.75rem;

      // .content_thumbnail_image {}
    }

    .content_post_info {
      padding: 0 0.1rem;

      .title {
        &_link {
          font-size: 0.8em;
        }
      }
    }
  }
}
