@import '../../css/base';

.context {
  padding: 2rem 0;
  background: rgb(238, 238, 238);
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px rgba(63, 63, 68, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.05);

  .context_header {
    margin-top: -1rem;
    text-align: center;
  }
}

.posts_category {
  font-size: 1rem;
  text-align: left;
  box-shadow: none;
  border-bottom: 1px dotted gray;
  letter-spacing: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: gray;
}

.posts_context {
  padding: 12px;
  margin: 0;
}
