@import '../../css/base';

.context {
  margin-top: 2rem;
  padding: 1rem 0;

  // .context_header {}
}

.posts_category {
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.posts_context {
  padding: 12px 56px;
  margin: 0;

  h2 {
    font-size: 1.6em;
    margin-top: 24px;
    margin-bottom: 0;
    padding-bottom: 1rem;
    border-bottom: solid 1px #e6e6e6;
  }

  .post_wrap {
    border-bottom: solid 1px #e6e6e6;
    padding: 0;
  }
}

@media screen and (max-width: 680px) {
  .posts_context {
    padding: 12px 16px;
  }
}
