// フッター部分
.content {
  color: #eee;
  margin-top: 64px;
  padding: 24px;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 240px;
  background-color: #333;

  // & a {
  //   color: white;
  // }

  &__inner {
    width: 100%;
    padding: 24px 24px 12px 24px;
    // margin: auto;
  }

  .columns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    margin-bottom: 48px;
    // font-size: 0.9em;

    .archives,
    .categories,
    .tags {
      padding: 0 24px;
      h4 {
        color: #eee;
        margin-top: 32px;
        text-align: center;
      }

      ul {
        font-feature-settings: normal;
        margin-bottom: auto;
        li {
          margin-left: 32px;
        }
      }
      a,
      svg {
        color: #eee;
      }
    }

    .archives {
      .expanel {
        color: #eee;
        background-color: #4c4c4c;
      }
      .expanel_summary {
        min-height: 32px;
        div {
          margin: 8px 0;
          padding: 2px;
        }
      }
    }
  }
}

.copyright {
  color: #eee;
  font-size: 0.9em;
  display: inline-block;
  vertical-align: bottom;
}
