// フッター部分
.content {
  color: #eee;
  margin-top: 24px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 240px;
  background-color: #333;

  // & a {
  //   color: white;
  // }

  &__inner {
    padding: 24px 0 12px;
    margin: auto;
  }
}

.copyright {
  color: #eee;
  font-size: 0.9em;
  display: inline-block;
  vertical-align: bottom;
}
