@import '../../css/base';
@import '../../css/color';

.content {
  width: 100%;
  max-width: 1680px;
  margin: auto;
  padding: 72px;
  animation: fade-in-down 0.6s both 0.5s;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 40px;
  background: $bg_top;
}

@media screen and (max-width: 680px) {
  .content {
    padding: 36px;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 580px) {
  .content {
    padding: 72px 10px 10px 10px;
  }
}

@media screen and (max-width: 450px) {
  .content {
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
  }
}
